.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: royalblue;
    color: #fff;
    padding: 8px 25px;
}

.header__nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.header__item {
    padding: 5px 12px;
}

.header__link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}